<p>Dear {{name}},</p>

<p>We are delighted to inform you that your booking has been successfully
  confirmed.</p>

<p>Here are the details of your booking:</p>
<ul>
  <li><strong>Title:</strong> {{title}}</li>
  <li><strong>Price:</strong> ${{price}}</li>
  <li><strong>Description:</strong> {{description}}</li>
</ul>

<p>Please review the booking details and let us know if there are any
  corrections needed.</p>

<p>If you have any questions or concerns, feel free to reach out to us.</p>

<p>Thank you for choosing us!</p>

<p>Best regards,<br />
  Yadistyle</p>