<p>Dear Yadistyle,</p>

<p>We would like to inform you that
  {{name}}
  has booked a service through our platform.</p>

<p>Details of the booking:</p>
<ul>
  <li><strong>Title:</strong> {{title}}</li>
  <li><strong>Price:</strong> ${{price}}</li>
  <li><strong>Description:</strong>{{description}}</li>
</ul>

<p>Please review the booking details and take any necessary actions.</p>

<p>If you have any questions or concerns, feel free to contact us.</p>

<p>Best regards,<br />
  Yadistyle</p>